/*
COLORS
-------
#AFC2D5 : Grayed Blue
#CCDDD3 : Grayed Green
#DFEFCA : Light Yellow Green
#FFF9A5 : Bright Yellow
#B48B7D : Light Dark Red
*/
body {
  background-size:cover;
  background-repeat:no-repeat;
  transition:background-image 3s;
  background-image:url(https://stmed.net/sites/default/files/hotel-wallpapers-28644-2385182.jpg);
}
p {
  margin-left:20px;
  font-size:30px;
  line-height:5px;
}
input {
  margin-left:2px;
}
li {
  text-shadow:0 0 10px #AFC2D5;
  font-size:20px;
}
h1 {
  margin-bottom:2px;
  text-align:center;
  display:none;
}
span {
  margin-left:3px;
}
.room {
  width:250px;
  margin-top:20px;
  margin-left:10px;
  background-color:#DFEFCA;
  box-shadow:0 0 10px black;
  border:2px solid #CCDDD3;
  border-radius:10px;
  display:block;
  overflow:auto; /*Div containing all buttons and lists*/
}
.display {
  width:250px;
  min-height:100px;
  display:inherit;
  overflow:auto;
  margin-top:5px;
  border-radius:10px;
  background-color:#FFF9A5; /*Div with the Lists*/
}
.inOut {
  width:50px;
  margin-top:2px; /*Input for Removing individuals*/
}
.clean {
  margin-top:2px;
  margin-left:2px; /*Clean Room Button*/
}
.remove {
  margin-left:10px;
  margin-bottom:5px;
  display:none; /*Remove All button*/
}
#flexSeal {
  /*background-color:rgba(175, 194, 213, 0.5);*/
  border-radius:10px;
  display:flex;
  flex-flow:row wrap; /*Container for keeping rooms together*/
}
#spacer {
  width:99.4vw;
  height:100px;
  position:relative;
  top:-8px;
  background-color:rgba(175, 194, 213, 0.5); /*Space from top of the website*/
}
#logo {
    width:200px;
    height:100px;
    top:0;
    left:0;
    box-shadow:0 0 10px black;
    position:fixed;
    background-size:cover;
    background-position:0 -10px;
    background-image:url(myHLogo.jpeg); /*I made this :)*/
}
